<!DOCTYPE html>
<html>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default box_1">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default box_1">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default box_1">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3" class="ax_default box_1">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default box_1">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5" class="ax_default box_1">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default box_1">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u7" class="ax_default box_1">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default box_1">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default box_1">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default box_1">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default box_1">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default box_1">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default paragraph">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          
          <p ><span> {{ Eachstudent[0].name | titlecase }}'s Details</span></p>
        </div>
      </div>
      

      <!-- Unnamed (Rectangle) -->
      <div id="u14" class="ax_default box_1">
        <div id="u14_div" class=""></div>
        
        <div id="u14_text" class="text ">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default box_1">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default box_1">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u17" class="ax_default placeholder">
        <div id="u17_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default paragraph">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Fee Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u19" class="ax_default box_1">
        <div id="u19_div" class=""></div>
        <div id="u19_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20" class="ax_default paragraph">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p><span>Calendar</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u21" class="ax_default placeholder">
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u22" class="ax_default image">
        <div id="u22_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u23" class="ax_default box_1">
        <div id="u23_text" class="text ">
          <p><span>Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u24" class="ax_default box_1">
        <div id="u24_text" class="text ">
          <p><span>Gender: </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u25" class="ax_default box_1">
        <div id="u25_text" class="text ">
          <p><span>Father's Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u26" class="ax_default box_1">
        <div id="u26_text" class="text ">
          <p><span>Mother's Name:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u27" class="ax_default box_1">
        <div id="u27_text" class="text ">
          <p><span>Date of Birth:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u28" class="ax_default box_1">
        <div id="u28_text" class="text ">
          <p><span>Religion:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u29" class="ax_default box_1">
        <div id="u29_text" class="text ">
          <p><span>Father Occupation:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u30" class="ax_default box_1">
        <div id="u30_text" class="text ">
          <p><span>E-mail:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default box_1">
        <div id="u31_text" class="text ">
          <p><span>Admission Date:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u32" class="ax_default box_1">
        <div id="u32_text" class="text ">
          <p><span>Class:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u33" class="ax_default box_1">
        <div id="u33_text" class="text ">
          <p><span>Section:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default box_1">
        <div id="u34_text" class="text ">
          <p><span>Roll:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u35" class="ax_default box_1">
        <div id="u35_text" class="text ">
          <p><span>Address:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u36" class="ax_default box_1">
        <div id="u36_text" class="text ">
          <p><span>Phone:</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u37" class="ax_default placeholder">
        <div id="u37_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u38" class="ax_default placeholder">

          <div *ngFor="let student of Eachstudent " >
            
                
               <p style="margin:0px; padding:0px;color:white;"> {{student.name | titlecase}}</p>
              
          </div>
       </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u39" class="ax_default placeholder">
       
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.gender | titlecase}}</p>
         
     </div>
  </div>


      <!-- Unnamed (Placeholder) -->
      <div id="u40" class="ax_default placeholder">

        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Fathersname | titlecase}}</p>
         
     </div>
  </div>


      <!-- Unnamed (Placeholder) -->
      <div id="u41" class="ax_default placeholder">
   
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Mothersname| titlecase}}</p>
         
     </div>
  </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u42" class="ax_default placeholder">
        
      
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.DOB }}</p>
         
     </div>
  </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u43" class="ax_default placeholder">
   
       
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:5px; color:white;"> {{student.Religion | titlecase}}</p>
         
     </div>
  </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u44" class="ax_default placeholder">
 
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.FatherOccupation | titlecase}}</p>
         
     </div>
  </div>

      
      <!-- Unnamed (Placeholder) -->
      <div id="u45" class="ax_default placeholder">
 
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Email}}</p>
         
     </div>
  </div>

      

      <!-- Unnamed (Placeholder) -->
      <div id="u46" class="ax_default placeholder">
       
    
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.AdmissionDate}}</p>
         
     </div>
  </div>



      <!-- Unnamed (Placeholder) -->
      <div id="u47" class="ax_default placeholder">
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Class}}</p>
         
     </div>
  </div>
      

      <!-- Unnamed (Placeholder) -->
      <div id="u48" class="ax_default placeholder">
  
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Section}}</p>
         
     </div>
  </div>
      <!-- Unnamed (Placeholder) -->
      <div id="u49" class="ax_default placeholder">
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Roll}}</p>
         
     </div>
  </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u50" class="ax_default placeholder">
    
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.Address}}</p>
         
     </div>
  </div>

      <!-- DeleteStudent (Rectangle) -->
      <div id="u51" class="ax_default primary_button" data-label="DeleteStudent">
        <div id="u51_div" class=""></div>
        <div id="u51_text" class="text ">
          <p (click)="DeleteStudent()"><span>Delete Student</span></p> 
          <!-- event binding on html  -->
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u52" class="ax_default placeholder">
 
        <div *ngFor="let student of Eachstudent " >
            
                
          <p style="margin:0px; padding:0px; color:white;"> {{student.phone}}</p>
         
     </div>
  </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u53" class="ax_default placeholder">
     
        <div id="u53_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
    
    
  </body>
  
</html>
