<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="base">    
   <!-- Unnamed (Rectangle) -->
   <div id="u615" class="ax_default shape">
    <div id="u615_div" class=""></div>
    <div id="u615_text" class="text " style="">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u616" class="ax_default paragraph">
    <div id="u616_div" class=""></div>
    <div id="u616_text" class="text ">
      <p><span>Information</span></p>
    </div>
  </div>

  <!-- Unnamed (Rectangle) -->
  <div id="u617" class="ax_default paragraph">
    <div id="u617_div" class=""></div>
    <div id="u617_text" class="text ">
      <p><span>Week</span></p>
    </div>
  </div>

  <!-- Unnamed (Line) -->
  <div id="u618" class="ax_default line">
    <img id="u618_img" class="img " src="assets/images/coursepage/u482.svg"/>
    <div id="u618_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

  <!-- Unnamed (Line) -->
  <div id="u619" class="ax_default line">
    <img id="u619_img" class="img " src="assets/images/coursepage/u482.svg"/>
    <div id="u619_text" class="text " style="display:none; visibility: hidden">
      <p></p>
    </div>
  </div>

    
      <!-- Unnamed (Placeholder) -->
      <div id="u640" class="ax_default placeholder">
        <img id="u640_img" class="img " src="assets/images/coursematerials/u640.svg"/>
        <div id="u640_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u641" class="ax_default placeholder">
        <img id="u641_img" class="img " src="assets/images/coursematerials/u641.svg"/>
        <div id="u641_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u642" class="ax_default placeholder">
        <img id="u642_img" class="img " src="assets/images/coursematerials/u642.svg"/>
        <div id="u642_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u643" class="ax_default paragraph">
        <div id="u643_div" class=""></div>
        <div id="u643_text" class="text ">
          <p><span>Lec </span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u644" class="ax_default paragraph">
        <div id="u644_div" class=""></div>
        <div id="u644_text" class="text ">
          <p><span>Lab </span></p>
        </div>
      </div>

    
</div>





</body>
</html>