body {
  margin:0px;
  background-color:rgba(40, 39, 39, 1);
  background-image:none;
  /* position:relative; */
  left:-36px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  height: 745px;
  width:1710px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Arial Bold', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 19px;
    color: #D7D7D7;
    line-height: 51px;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:200px;
  width:150px;
  height:51px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u0 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:200px;
  width:158px;
  height:51px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u1 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
  color:#FFFFFF;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:100px;
  width:394px;
  height:45px;
  display:flex;
  font-size:40px;
  color:#FFFFFF;
}
#u2 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:200px;
  width:130px;
  height:51px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u3 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:200px;
  width:135px;
  height:51px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u4 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:2px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:263px;
  width:1112px;
  height:1px;
  display:flex;
}
#u5 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1113px;
  height:2px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:200px;
  width:1112px;
  height:1px;
  display:flex;
}
#u6 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:288px;
  width:158px;
  height:38px;
  display:flex;
}

#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:200px;
  width:135px;
  height:51px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:19px;
  color:#D7D7D7;
  line-height:51px;
}
#col-8{
  float:left;
  width:8%;
  margin-top:5px;
}
#u8 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:288px;
  width:158px;
  height:38px;
  display:flex;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:288px;
  width:158px;
  height:38px;
  display:flex;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:288px;
  width:158px;
  height:38px;
  display:flex;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:810px;
  top:288px;
  width:158px;
  height:38px;
  display:flex;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13 p {
  color: #10CFC9;
}
#id1 {
top: 200px;

}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:39px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:288px;
  width:158px;
  height:39px;
  display:flex;
  font-size:20px;
  text-decoration:underline ;
  color:#10CFC9;
}
#u13 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15_input {
  position:absolute;
  left:1px;
  top:1px;
  width:304px;
  height:33px;
  padding:0px 0px 0px 40px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:rgba(40, 39, 39, 1);
}
#u15_input.focused {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:rgba(40, 39, 39, 1);
}
#u15_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  padding:2px 2px 2px 40px;
  font-family:'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#8C8C8C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:rgba(40, 39, 39, 1);
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:151px;
  width:350px;
  height:40px;
  display:flex;
  color:#8C8C8C;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u15_div.focused {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u15.focused {
}
#u15_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(140, 140, 140, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#8C8C8C;
}
#u15.disabled {
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:163px;
  width:15px;
  height:15px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  display:flex;
  text-align:left;
}
.u18 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 15px;
  box-sizing:border-box;
  width:100%;
}
.u18_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
.u18.mouseOver {
}
.u18_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u17-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u17-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:350px;
  height:50px;
}
#u17-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:350px;
  height:50px;
}
#u17-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:350px;
  height:50px;
}
#u17-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:350px;
  height:50px;
}
#u17-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:350px;
  height:50px;
}
#u17-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:350px;
  height:50px;
}
#u17-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:350px;
  width:350px;
  height:50px;
}
#u17-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:350px;
  height:50px;
}
#u17-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:350px;
  height:50px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:191px;
  width:350px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:165px;
  width:12px;
  height:12px;
  display:flex;
  color:#8C8C8C;
}
#u19 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u19_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}

#deleteBtn {
  background-color: red;
  border: transparent;
  color: white;
  cursor: pointer;  
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

#deleteBtn:hover {
  background-color: lightcoral;
}

#cancelBtn {
  border-radius: 10px;
  border: green 1px solid;
  color: green;
  cursor: pointer;
  background-color: transparent;
  transition: ease-in 0.3s;
}

#cancelBtn:hover {
  background-color: lightgreen;
  color:white;
}

#confirmBtn {
  background-color: lightcoral;
  border: transparent;
  color: white;
  cursor: pointer;  
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

#confirmBtn:hover {
  background-color: red;
}