<!DOCTYPE html>
<html>
  <app-admin-header></app-admin-header>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default paragraph">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text ">
          <p><span>Faculty Name</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default paragraph">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text ">
          <p><span>Faculty Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u2" class="ax_default line">
        <img id="u2_img" class="img " src="assets/images/faculty_details/u2.svg"/>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Line) -->
      <div id="u3" class="ax_default line">
        <img id="u3_img" class="img " src="assets/images/faculty_details/u2.svg"/>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u4" class="ax_default placeholder">
   
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.facultyName}}</p> </li>
          </div>
        </ul>
        </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u5" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.studentsNum}}</p> </li>
          </div>
        </ul>
        </div>
      

      <!-- Unnamed (Placeholder) -->
      <div id="u6" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{ faculty.dateFounded }} </p> </li>
          </div>
        </ul>
        </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u7" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.courseNum}}</p> </li>
          </div>
        </ul>
        </div>
      <!-- Unnamed (Placeholder) -->
      <div id="u8" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.successRate}}</p> </li>
          </div>
        </ul>
        </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default paragraph">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>Sucess Rate</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u10" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.dean}}</p> </li>
          </div>
        </ul>
        </div>


      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default paragraph">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text ">
          <p><span>Dean of Faculty</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u12" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.teachingAssistantNum }}</p> </li>
          </div>
        </ul>
        </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default paragraph">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text ">
          <p><span>Number of TAs</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u14" class="ax_default placeholder">
        <ul>
          <div *ngFor="let faculty of faculties" >
        
            
            <li> <p>{{faculty.profNum }}</p> </li>
          </div>
        </ul>
        </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default paragraph">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text ">
          <p><span>Number of Proffesors</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16" class="ax_default paragraph">
        <div id="u16_div" class=""></div>
        <div id="u16_text" class="text ">
          <p><span>Number of Students</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u17" class="ax_default paragraph">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text ">
          <p><span>Date Founded</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default paragraph">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Number of Courses</span></p>
        </div>
      </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
  </body>
</html>
