<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
    <body>


      <!-- <app-homepage></app-homepage> -->
                 <!-- ADMIN-->
         <!-- <app-admin-header></app-admin-header> -->
      <!-- <app-requests></app-requests> -->
      <!-- <app-course-materials></app-course-materials>           -->
      <!-- <app-all-students-details></app-all-students-details>    -->
     <!-- <app-all-faculty-details></app-all-faculty-details>    -->
       <!-- <app-faculty-details></app-faculty-details>              -->
      <!-- <app-student-details></app-student-details>              -->
      <!-- <app-new-course></app-new-course> -->
      <!-- <app-footer></app-footer> -->


                <!--STUDENT-->
       <!-- <app-student-header></app-student-header> -->
      
      
      <!-- <app-profile></app-profile> -->
      <!-- <app-home-page-student></app-home-page-student> -->
      <!-- <app-current-courses></app-current-courses>           -->
      <!-- <app-available-courses></app-available-courses> -->
      <!-- <app-grades></app-grades> -->
      <!-- <app-coursepage></app-coursepage> -->
      <!-- <app-payment-history></app-payment-history> -->
      <!-- <app-pending-payments></app-pending-payments> -->
      <!-- <app-footer></app-footer> -->

                    <!--Faculty-->
                    <!-- <app-all-courses></app-all-courses> -->
      <!-- <app-footer></app-footer> -->


<router-outlet></router-outlet>
    </body>
</html>
