<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    

  <div id="all">
      <!-- Unnamed (HeaderAdmin) -->

      <!-- Unnamed (Image) -->
      <div id="u694" class="ax_default image">
        <div id="u694_text" class="text " style="display:none;">
          <p></p>
        </div>
      </div>

      <!-- Master Menu (Menu) -->
      <div id="u695" class="ax_default" data-label="Master Menu">

        <!-- Unnamed (Table) -->
        <div id="u696" class="ax_default">

          <!-- Unnamed (Menu Item) -->
          <div id="u697" class="ax_default menu_item">
            <div id="u697_text" class="text ">
              <p routerLink="/all-faculties-details" style="cursor: pointer;"><span>Faculties</span></p>

            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u698" class="ax_default menu_item">
            <div id="u698_text" class="text ">
              <p routerLink="/all-student-details" style="cursor: pointer;"><span>Students </span></p>
            </div>
          </div>

          <!-- Unnamed (Menu Item) -->
          <div id="u699" class="ax_default menu_item">
            <div id="u699_text" class="text ">
              <p routerLink="/new-course" style="cursor: pointer;"><span>Add Course</span></p>
            </div>
          </div>

          <!-- MasterHeader (Menu Item) -->
          <div id="u700" class="ax_default menu_item" data-label="MasterHeader">
            <div id="u700_text" class="text ">
              <p routerLink="/requests" style="cursor: pointer;"><span>Requests</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u701" class="ax_default image">
        <img id="u701_img" class="img " src="assets/images/logo.png"/>
        <div id="u701_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- UserNamefield1 (Rectangle) -->
      <div id="u702" class="ax_default button" data-label="UserNamefield1">
        <div id="u702_text" class="text ">
          <p (click)="LogOut()" style="cursor: pointer;"><span>Log out</span></p>
        </div>
      </div>
      <div id="u693" style="display:none; visibility:hidden;"></div>
   
    </div>
    <router-outlet></router-outlet>
      
</body>
</html>

