<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="base" class="">

    <!-- Unnamed (Rectangle) -->
    <div id="u41" class="ax_default paragraph">
      <div id="u41_div" class=""></div>
      <div id="u41_text" class="text ">
        <p><span>&nbsp;Available Courses</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u42" class="ax_default image">
      <img id="u42_img" class="img " src="assets/images/available/u42.png"/>
      <div id="u42_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u43" class="ax_default image">
      <img id="u43_img" class="img " src="assets/images/available/u43.png"/>
      <div id="u43_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u44" class="ax_default primary_button ax_default_hidden" style="display:none; visibility: hidden">
      <div id="u44_div" class=""></div>
      <div id="u44_text" class="text ">
        <p><span>Enroll</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u45" class="ax_default primary_button ax_default_hidden" style="display:none; visibility: hidden">
      <div id="u45_div" class=""></div>
      <div id="u45_text" class="text ">
        <p><span>Enroll</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u46" class="ax_default image">
      <img id="u46_img" class="img " src="assets/images/available/u46.png"/>
      <div id="u46_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u47" class="ax_default primary_button ax_default_hidden" style="display:none; visibility: hidden">
      <div id="u47_div" class=""></div>
      <div id="u47_text" class="text ">
        <p><span>Enroll</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u48" class="ax_default image">
      <img id="u48_img" class="img " src="assets/images/available/u48.png"/>
      <div id="u48_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u49" class="ax_default primary_button ax_default_hidden" style="display:none; visibility: hidden">
      <div id="u49_div" class=""></div>
      <div id="u49_text" class="text ">
        <p><span>Enroll</span></p>
      </div>
    </div>
  </div>

</body>
</html>