<!DOCTYPE html>
<html>
  <body>
    <app-student-header></app-student-header>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u0" class="ax_default box_1">
        <div id="u0_div" class=""></div>
        <div id="u0_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u1" class="ax_default box_1">
        <div id="u1_div" class=""></div>
        <div id="u1_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u2" class="ax_default box_1">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u3" class="ax_default box_1">
        <div id="u3_div" class=""></div>
        <div id="u3_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u4" class="ax_default box_1">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u5" class="ax_default box_1">
        <div id="u5_div" class=""></div>
        <div id="u5_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u6" class="ax_default box_1">
        <div id="u6_div" class=""></div>
        <div id="u6_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u7" class="ax_default box_1">
        <div id="u7_div" class=""></div>
        <div id="u7_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default box_1">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u9" class="ax_default box_1">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u10" class="ax_default box_1">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u11" class="ax_default box_1">
        <div id="u11_div" class=""></div>
        <div id="u11_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u12" class="ax_default box_1">
        <div id="u12_div" class=""></div>
        <div id="u12_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u13" class="ax_default box_1">
        <div id="u13_div" class=""></div>
        <div id="u13_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14" class="ax_default box_1">
        <div id="u14_div" class=""></div>
        <div id="u14_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u15" class="ax_default box_1">
        <div id="u15_div" class=""></div>
        <div id="u15_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u16" class="ax_default placeholder">
        <img id="u16_img" class="img " src="assets/images/profile/u16.svg"/>
        <div id="u16_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u17" class="ax_default box_1">
        <div id="u17_div" class=""></div>
        <div id="u17_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u18" class="ax_default paragraph">
        <div id="u18_div" class=""></div>
        <div id="u18_text" class="text ">
          <p><span>Download Study Material</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u19" class="ax_default placeholder">
        <img id="u19_img" class="img " src="assets/images/profile/u19.svg"/>
        <div id="u19_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u20" class="ax_default paragraph">
        <div id="u20_div" class=""></div>
        <div id="u20_text" class="text ">
          <p><span>Fee Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u21" class="ax_default box_1">
        <div id="u21_div" class=""></div>
        <div id="u21_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u22" class="ax_default paragraph">
        <div id="u22_div" class=""></div>
        <div id="u22_text" class="text ">
          <p><span>Calendar</span></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u23" class="ax_default placeholder">
        <img id="u23_img" class="img " src="assets/images/profile/u23.svg"/>
        <div id="u23_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Image) -->
      <div id="u24" class="ax_default image">
        <img id="u24_img" class="img " src="assets/images/profile/u24.png"/>
        <div id="u24_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u25" class="ax_default paragraph">
        <div id="u25_div" class=""></div>
        <div id="u25_text" class="text ">
          <p><span>{{student.name }}'s Details</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u26" class="ax_default box_1">
        <img id="u26_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u26_text" class="text ">
          <p><span>Name:</span>{{student.name}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u27" class="ax_default box_1">
        <img id="u27_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u27_text" class="text ">
          <p><span>Gender: </span>{{student.gender}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u28" class="ax_default box_1">
        <img id="u28_img" class="img " src="assets/images/profile/u28.svg"/>
        <div id="u28_text" class="text ">
          <p><span>Father's Name:</span>{{student.Fathersname}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u29" class="ax_default box_1">
        <img id="u29_img" class="img " src="assets/images/profile/u28.svg"/>
        <div id="u29_text" class="text ">
          <p><span>Mother's Name:</span>{{student.Mothersname}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u30" class="ax_default box_1">
        <img id="u30_img" class="img " src="assets/images/profile/u30.svg"/>
        <div id="u30_text" class="text ">
          <p><span>Date of Birth:</span>{{student.DOB}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u31" class="ax_default box_1">
        <img id="u31_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u31_text" class="text ">
          <p><span>Religion:</span>{{student.Religion}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u32" class="ax_default box_1">
        <img id="u32_img" class="img " src="assets/images/profile/u32.svg"/>
        <div id="u32_text" class="text ">
          <p><span>Father Occupation:</span>{{student.FatherOccupation}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u33" class="ax_default box_1">
        <img id="u33_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u33_text" class="text ">
          <p><span>E-mail:</span>{{student.Email}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u34" class="ax_default box_1">
        <img id="u34_img" class="img " src="assets/images/profile/u28.svg"/>
        <div id="u34_text" class="text ">
          <p><span>Admission Date:</span>{{student.AdmissionDate}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u35" class="ax_default box_1">
        <img id="u35_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u35_text" class="text ">
          <p><span>Class:</span>{{student.Class}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u36" class="ax_default box_1">
        <img id="u36_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u36_text" class="text ">
          <p><span>Section:</span>{{student.Section}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u37" class="ax_default box_1">
        <img id="u37_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u37_text" class="text ">
          <p><span>Roll:</span>{{student.Roll}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u38" class="ax_default box_1">
        <img id="u38_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u38_text" class="text ">
          <p><span>Address:</span>{{student.Address}}</p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u39" class="ax_default box_1">
        <img id="u39_img" class="img " src="assets/images/profile/u26.svg"/>
        <div id="u39_text" class="text ">
          <p><span>Phone:</span>{{student.phone}}</p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u40" class="ax_default placeholder">
        <img id="u40_img" class="img " src="assets/images/profile/u40.svg"/>
        <div id="u40_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u41" class="ax_default placeholder">
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u42" class="ax_default placeholder">
        <div id="u42_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u43" class="ax_default placeholder">
        <div id="u43_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u44" class="ax_default placeholder">
        <div id="u44_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u45" class="ax_default placeholder">
        <div id="u45_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u46" class="ax_default placeholder">
        <div id="u46_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u47" class="ax_default placeholder">
        <div id="u47_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u48" class="ax_default placeholder">
        <div id="u48_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u49" class="ax_default placeholder">
        <div id="u49_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u50" class="ax_default placeholder">
        <div id="u50_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u51" class="ax_default placeholder">
        <div id="u51_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u52" class="ax_default placeholder">
        <div id="u52_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u53" class="ax_default placeholder">
        <div id="u53_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u54" class="ax_default placeholder">
        <div id="u54_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (Placeholder) -->
      <div id="u55" class="ax_default placeholder">
        <div id="u55_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
    </div>
  </body>
</html>
